<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="javascripts/catalogue.js" defer></script>
    <script src="javascripts/page.js" defer></script>
    <script src="javascripts/main.js" defer></script>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div class="page" data-component="page">
    <div data-component="catalogue"></div>
</div>

</body>
</html>
