body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.file-container{
  border: 1px solid black;
  position: relative;
  left: 1em;
  padding: 1em;
  margin: 1em;
  display: block;
}

.add-comment-button {
  float: right;
}

.page{
  align: center;
  width: 50em;
}
